body {
  font-size: 1em;
  line-height: 1.6;
  font-weight: 400;
  color: rgba(255,255,255,0.75);
  background-color: #24292e
}

a {
  text-decoration: none;
}

.site-header {
  padding: 50px 10px;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 940px;
  border-bottom: 1px solid rgba(80,80,80,0.50);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header a {
  /*color: #333;*/
  color: rgba(255,255,255,0.50);
}

.site-header h1>a {
  letter-spacing: 3px;
}

.nav-link {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link a:not(:first-child) {
  margin-left: 15px;
}

.main {
  max-width: 940px;
  margin: 0 auto;
  padding: 30px 10px;
}

aside {
  padding: 0 15px 0 0;
  border-right: 1px solid rgba(56, 61, 66, .5)
}

aside ul {
  list-style: none;
  padding-left: 0;
}

.main article {
  padding-left: 30px;
}

footer {
  text-align: center;
  max-width: 940px;
  margin: 0 auto;
  padding: 30px 10px;
  color: rgba(255,255,255,0.50);
}

footer a {
  color: #ccc
}

.chap {
}

.chap ul {
  margin-top: 0;
}

.chap li > a {
  color: #ccc;
}

.chap li.active a {
  color: #63a35c;
}

.chap-title {
  font-size: 18px;
  color: #777;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .7rem;
  letter-spacing: 3px;
}

/*
 * icon
 */
h1:hover span.icon-link,
h2:hover span.icon-link,
h3:hover span.icon-link,
h4:hover span.icon-link,
h5:hover span.icon-link,
h6:hover span.icon-link {
  visibility: visible;
}

/*
 * markdown reset
 */

 .markdown-body {
  /*color: #24292e;*/
}

.markdown-body h2 {
  border-bottom: 0;
}

.markdown-body code:not(.hljs)::before,
.markdown-body code:not(.hljs)::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.markdown-body code:not(.hljs) {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  background-color: rgba(244, 244, 244, 0.1);
  border-radius: 3px;
  /*font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;*/
  font-size: 85%;
}

.markdown-body pre > code {
  display: block;
  overflow-x: auto;
  border-radius: 3px;
  padding: 0.7em;
}

/*
 * mobile support
 */
.more {
  display: none;
  height: 25px;
}

@media only screen and (max-width: 768px) {
  section.main {
    padding: 5rem 0px;
  }
  header.site-header {
    padding: 0;
    position: fixed;
    left: 0;
    width: 100%;
    background-color: rgba(41,41,41,1);
    box-shadow: 0px 5px 10px rgba(0,0,0,.1)
  }
  header h1 {
    margin: 0.3em 0;
    padding-left: 2rem;
    font-size: 1.5em;
  }
  header nav {
    padding-right: 2rem;
  }
  aside {
    position: fixed;
    display: none;
    right: 0;
    top: 52px;
    overflow-y: auto;
    background-color: rgba(37, 37, 37, 1);
    max-height: calc(100% - 53px);
  }
  .main article {
    padding: 0;
  }
  .main aside {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    border: 1px solid rgba(80,80,80,0.50);
    box-shadow: 0px 5px 10px rgba(0,0,0,.1);
  }
  .more {
    display: inline-block;
  }
  .octicon {
    fill: currentColor;
  }
}